##Etivity 6.2
Dara Corr - 22275193

Task 4:

In [ ]:
#task4

import textblob
from textblob import TextBlob
from textblob.classifiers import NaiveBayesClassifier
import nltk
nltk.download('punkt')

#Write a function that takes sets of training and testing documents as input and uses the textblob.classifiers module to:
 #a) train a Naive Bayes classifier using the training set
 #b) test it using the test set and print out the accuracy of the model.

def naiveBayesClassifier(trainingSet,testSet):
  cl = NaiveBayesClassifier(trainingSet)

  for i in range(len(testSet)):
    doc_class = cl.classify(testSet[i][0])
    print("document: " + str(testSet[i]) + "\t \t predicted class = " + doc_class)
    
  print("Accuracy: " + str(cl.accuracy(testSet)))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
trainingSet = [('London is the Capital of GB','GB'),
               ('Oxford is a city in GB','GB'),
               ('Dublin is the capital of Ireland','IE'),
               ('Limerick is a city in Ireland','IE')]
testSet = [('University of Limerick','IE'),
           ('University College Dublin','IE'),
           ('Imperial College London','GB'),
           ('University of Oxford','GB'),
           ('Ireland & GB','GB')]
           
naiveBayesClassifier(trainingSet,testSet)

document: ('University of Limerick', 'IE')	 	 predicted class = IE
document: ('University College Dublin', 'IE')	 	 predicted class = IE
document: ('Imperial College London', 'GB')	 	 predicted class = GB
document: ('University of Oxford', 'GB')	 	 predicted class = GB
document: ('Ireland & GB', 'GB')	 	 predicted class = GB
Accuracy: 1.0

Task 5:

In [ ]:
#task5

import pandas as pd

#download data
!wget https://storage.googleapis.com/dataset-uploader/bbc/bbc-text.csv 
#####
bbc_text = 'https://storage.googleapis.com/dataset-uploader/bbc/bbc-text.csv'

bbc_df = pd.read_csv(bbc_text)

bbc_df = bbc_df[['text', 'category']]
print(bbc_df.head(10))

--2022-11-27 00:44:44--  https://storage.googleapis.com/dataset-uploader/bbc/bbc-text.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 108.177.125.128, 74.125.204.128, 64.233.189.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|108.177.125.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5057493 (4.8M) [text/csv]
Saving to: ‘bbc-text.csv.1’

bbc-text.csv.1      100%[===================>]   4.82M  --.-KB/s    in 0.04s

2022-11-27 00:44:45 (114 MB/s) - ‘bbc-text.csv.1’ saved [5057493/5057493]

                                                text       category
0  tv future in the hands of viewers with home th...           tech
1  worldcom boss  left books alone  former worldc...       business
2  tigers wary of farrell  gamble  leicester say ...          sport
3  yeading face newcastle in fa cup premiership s...          sport
4  ocean s twelve raids box office ocean s twelve...  entertainment
5  howard hits back at mongrel jibe michael howar...       politics
6  blair prepares to name poll date tony blair is...       politics
7  henman hopes ended in dubai third seed tim hen...          sport
8  wilkinson fit to face edinburgh england captai...          sport
9  last star wars  not for children  the sixth an...  entertainment

In [ ]:
n = 10 #sample size
print(bbc_df.sample(n=n)) #a) print a number of sample documents from the dataset

print("\n")

print("Total number of documents in the df : " + str(len(bbc_df)))

############# New code for finding documents per category (Credit: Govindu Dilshan Wijsekera Liyange)
doccounts = bbc_df.category.value_counts()

print('\n')
print("Documents per category:")
print(doccounts)

                                                   text  category
159   orange colour clash set for court a row over t...  business
882   web logs aid disaster recovery some of the mos...      tech
2218  davies favours gloucester future wales hooker ...     sport
353   pearce keen on succeeding keegan joint assista...     sport
71    singapore growth at 8.1% in 2004 singapore s e...  business
72    parties build up poll war chests the labour pa...  politics
718   apple attacked over sources row civil libertie...      tech
1126  stuart joins norwich from addicks norwich have...     sport
25    moya fights back for indian title carlos moya ...     sport
1527  pm apology over jailings tony blair has apolog...  politics


Total number of documents in the df : 2225


Documents per category:
sport            511
business         510
politics         417
tech             401
entertainment    386
Name: category, dtype: int64

In [ ]:
#5.3
train = bbc_df.sample(frac=0.8,random_state=200)
test = bbc_df.drop(train.index)

print(train.head(10), "\n")
print(test.head(10))

                                                   text       category
2194  india-pakistan peace boosts trade calmer relat...       business
431   blair backs  pre-election budget  tony blair h...       politics
1844  more reforms ahead says milburn labour will co...       politics
228   tv s future down the phone line internet tv ha...           tech
1217  bortolami predicts dour contest italy skipper ...          sport
1009  cardinal criticises iraq war cost billions of ...       politics
2008  half of uk s mobiles  go online  multimedia mo...           tech
1769  eu ministers to mull jet fuel tax european uni...       business
1596  downloads enter us singles chart digital music...  entertainment
99    rapper kanye west s shrewd soul us hip-hop sta...  entertainment

                                                 text       category
17  connors boost for british tennis former world ...          sport
18  japanese banking battle at an end japan s sumi...       business
37  row threatens hendrix museum plan proposals to...  entertainment
51  strike threat over pension plans millions of p...       politics
55  vouchers  to cut winter deaths  pensioners are...       politics
67  top of the pops leaves bbc one the bbc s flags...  entertainment
68  microsoft gets the blogging bug software giant...           tech
73  funding cut hits wales students the wales stud...          sport
89  bank set to leave rates on hold uk interest ra...       business
90  slovakia reach hopman cup final slovakia will ...          sport

In [ ]:
#5.4
Training = train.values.tolist()
Testing = test.values.tolist()
Classifier =  NaiveBayesClassifier(Training)

for i in range(len(Testing)):
    doc_class = Classifier.classify(Testing[i][0])
    
print("Accuracy: " + str(Classifier.accuracy(Testing)))

Accuracy: 0.9595505617977528